/* Applies changes to the "body" of the HTML Document. Adding a minimum text height and a radial gradient background */
body 
{
    min-height: 200vh;
    background: radial-gradient(#c299ff,#602060);
}
section
{
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 1.5em;
}
