/* Applies changes to the "body" of the HTML Document. Adding a minimum text height and a radial gradient background */
body 
{
    min-height: 200vh;
    min-width: 200px;
    background: radial-gradient(#c299ff,#602060);
}
section
{
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 1.5em;
}
.Section1 
{
    position: relative;
    padding: 50px;
    bottom: 0;
    background-color: black;
    height: 200px;
    width: 300 px;
}
.Section2
{
    position: relative;
    padding-top: 5px;
    background-color: black;
}
